
body {
  background-color: black;
}

h1 {
	color: white;
	text-align: center;
	font-family: Impact;
	font-size: 40px;
}

h2 {
	color: white;
	font-size: 30px
}

p {
	color: white;
/*	font-family: Comic Sans MS; */
	font-size: 20px;
}

br {
	color: white;
/*	font-family: Comic Sans MS; */
	font-size: 20px;
}
  
a:link {
	color: #485c87;
    padding: 10px 20px;
    text-align: center;
   	font-family: Consolas;
}

a:visited {
  	color: #a377a4;
  	padding: 10px 20px;
  	text-align: center;
  	text-decoration: underline;
}
a:hover {
  	color: lightblue;
  	padding: 10px 20px;
 	text-align: center;
  	text-decoration: underline;
}

a:active {
  	color: red;
  	padding: 10px 20px;
  	text-align: center;
  	text-decoration: underline;
}

iframe {
	margin-top: 20px;
	margin-bottom: 30px;
	
	-moz-border-radius: 12px;
	
}
